@charset "utf-8";

@font-face {
    font-family: NanumGothic;
    src: url('NanumGothic.ttf');
}

@font-face {
    font-family: NanumGothic;
    src: url('NanumGothic.eot');
}

@font-face {
    font-family: NanumGothic;
    src: url('NanumGothic.woff');
}

* {padding: 0; font-family:NanumGothic;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}
.tab_btn{
    border:none;
    background-color:none;
    font-weight:bold;
}