

.livecha_container {width:996px; min-height:500px; background-color:white; margin:0 auto;}
.livecha_article {width:910px; margin:0 auto; margin-left: 40px; }
.livecha_table { border-style:none; width:700px; height:30px;}
#TextBox1 {border: 1px solid #808080;}
.ccheck {border-style: none; height:100px; margin-top:30px;}
.livecha_tit {margin-bottom:20px; margin-top:20px;}
#Datalist {border-style:none;}


