@charset "utf-8";

/*메인페이지*/

/*advert_wrap - 광고영역*/
.advert_wrap {width: 100%; height: 430px; margin:0 auto; overflow:hidden; float:left;}
.banner_01 {width: 996px; height: 430px; background:#d9d452;}
.banner_02 {width: 996px; height: 430px; background:#fde6d1;}
.banner_03 {width: 996px; height: 430px; background:#edb6ca; }


/*advert - 광고영역*/
.advert {width: 996px; height: 430px; margin:0 auto; overflow:hidden; z-index:1;}
.banner_01 {width: 996px; height: 430px; background-image: url('../Images/ad_1.png') ; background-repeat:no-repeat; background-position:center }
.banner_02 {width: 996px; height: 430px; background-image: url('../Images/ad_2.png') ; background-repeat:no-repeat; background-position:center }
.banner_03 {width: 996px; height: 430px; background-image: url('../Images/ad_3.png') ; background-repeat:no-repeat; background-position:center }

/*quick_button*/
table {margin:15px 8px 0 0; float:left; }
table,td,td,th {border-collapse:collapse; border: 1px solid #808080;}
table p {font-size:0.83em; margin-top:5px;}
.btn_title{margin-left:10px;}
th {width:241px; height:47px; text-align: left; background-color:#11a35d; color:white;}
td {width:120px; height:121px; background-color:white;}
.auto-style1 {width: 120px;}


/*주간펫*/
.Weekly {float:left; margin-top:15px; width:743px; height:535px; background-color:white; border:1px solid #ccc; }
.tabmenu{width:497px; height:48px;  font-size:0.813em; font-weight:bold;}
.menu1 { list-style-type:none; width:743px;height:48px; border-bottom:1px solid #ccc; font-weight:bold;}
.menu1 li{float:left; width: 90px; height:35px; text-align:center; display:block; padding-top:15px; padding-left:5px;}
.menu1 li:hover{color:#11a35d}
.menu1 li:first-child {width:90px; height:33px; border-right:1px solid #ccc; background-color:#dedcdc}
.menu1 li:first-child:hover {color:black;}

tabmenu_content {float:left;}
#tab_1 {width:743px; height:486px; display:block;}
#tab_2 {width:743px; height:486px; display:none;}
#tab_3 {width:743px; height:486px; display:block;}
#tab_4 {width:743px; height:486px; display:none;}
#tab_5 {width:743px; height:486px; display:none;}
#tab_1 {float:left;}
#tab_2 {float:left;}
#tab_3 {float:left;}
#tab_4 {float:left;}
#tab_5 {float:left;}
.wconwrap {width:743px; height:200px; float:left; }

.w_con_1 {width:475px; height:258px; margin:10px; overflow:hidden; float:left; margin-left:15px; margin-top:0px; }
.w_con_1  img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.w_con_1:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

.w_con_wrap {width:230px; height:195px; float:left; margin:0 12px 0 15px;}
.w_con_wrap_1 {width:230px; height:195px; float:left; margin:0; margin:0 8px 0 0;}
.w_con_wrap_2 {width:230px; height:195px; float:left; margin:0; margin:0 0 0 5
               px;}
.w_con_2 {width:229px; height:175px; overflow:hidden; float:left;}
.w_con_2  img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.w_con_2:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

.w_con_3 {width:229px; height:175px; overflow:hidden; float:left;}
.w_con_3  img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}
.w_con_3:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

.w_con_4 {width:229px; height:255px; 
overflow:hidden; float:left; margin-top:10px;
}
.w_con_4  img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}
.w_con_4:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

.w_title {background-color:black; height:40px; width:458px; text-align:left; color:white; padding:10px; margin-top:-60px; opacity:0.5; font-weight:bold;}
.w_title_2 {width:229px; height:20px; color:black; text-align:left; margin:3px 0 0 5px; float:left;}
.w_title_3 {width:229px; height:20px; color:black; text-align:left; margin:3px 0 0 7px; float:left;}
.s_txt {font-size:0.83em; margin-bottom:5px;}

/*sub_con*/
.sub_con_1 {width:230px; height:170px; float:left; margin-top:15px; float:left;}
.sub_con_1 a {border:none; text-decoration:none;}
.sub_con_2 {width:230px; height:170px; float:left; margin-top:10px; float:left;}
.sub_con_2 a {border:none; text-decoration:none;}


/*핫딜*/
.Hotdeal {float:left; margin-top:15px; margin-right:7px; width:996px; height:272px; background-color:white; border:1px solid #ccc; }
.tabmenu{width:740px; 
height:50px;  font-size:0.813em; font-weight:bold;
}
.menu2 { list-style-type:none; width:996px;height:50px; border-bottom:1px solid #ccc; font-weight:bold;}
.menu2 li{float:left; width: 90px; height:35px; text-align:center; display:block; padding-top:17px; padding-left:5px;}
.menu2 li:hover{color:#11a35d}
.menu2 li:first-child {width:90px; height:33px; border-right:1px solid #ccc; background-color:#dedcdc}
.menu2 li:first-child:hover {color:black;}

.h_con_wrap {width:235px; height:195px; float:left; margin:12px 10px 0 9px;}
.h_con_wrap_1 {width:235px; height:195px; float:left; margin:10px 12px 0 0;}
.h_title_2 {width:235px; height:20px; color:black; text-align:center; margin-top:5px;  float:left;}

/*content*/
.h_wrap {width:996px; min-height:1200px; margin:0 auto;
    text-align: center;
}