/*content*/
.plist_wrap {width:996px; min-height:800px; margin:0 auto;text-align: center;background-color:white; margin-top:20PX;}
#plist_datalist {margin:auto auto; clear:both; border-style:none; width:700px;} 
.plist_datalist {clear:both; width:965px; margin:auto auto; }
.phto_txt {margin-bottom:30px; padding-top:30px;font-size:larger; font-weight:700; color:#ff6a00}
.plist_line {
width:950px;}
.plist_btn {float:right; margin-top:50px;}